.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 0 40px;
}

.modal {
    background-color: white;
    border-radius: 16px;
    padding: 32px;
    width: 850px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
    overflow-y: auto;
}

@keyframes fadeIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}